:root {
	--grid-gap: 10;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sp-card-list {
	display: grid;
	grid-gap: var(--grid-gap);

	&__item {
		position: relative;
		display: flex;
		border: 1px solid rgb(206, 206, 206);

		&__sale {
			position: absolute;
			top: -12px;
			left: -12px;
			width: 50px;
			height: 50px;
			background-color: tomato;
			border-radius: 50%;
			color: #fff;
			display: grid;
			place-items: center;
		}

		&__images {
			flex: 0 0 50%;
			display: grid;
			place-items: center;

			&__image {
				width: 100%;
				object-fit: contain;
			}
		}

		&__content {
			flex: 0 0 50%;
			text-align: center;
			padding: 0 20px;
			display: grid;
			place-items: center;

			&__category {
				display: block;
				padding: 15px 0;
				color: gray;
			}

			&__title {
				padding-bottom: 15px;
				color: green;
			}

			&__review {
				display: block;
				padding-bottom: 15px;
				.woocommerce-product-rating {
					.star-rating {
						white-space: normal;
					}
				}
			}

			&__description {
				color: gray;
				padding-bottom: 15px;
			}

			&__price {
				display: block;
				color: red;
			}

			&__btn {
				display: inline-block;
				color: rgb(255, 255, 255);
				background-color: red;
				padding: 10px 20px;
				border-radius: 5px;
				text-decoration: none;
				margin: 10px 0;

				&:hover {
					background-color: tomato;
				}
			}
		}
	}
}
