* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$border-color: lightblue;

.sp-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

.sp-product-view-list {
  list-style: none;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;

  .sp-products__item {
    border: 1px solid $border-color;
    display: flex;

    .sp-product-img {
      flex: 1 0 60%;
      background-color: #fff;
      display: grid;
      place-items: center;
      img {
        width: 100%;
      }
    }

    .sp-wrapper-content {
      flex: 1 0 40%;
      padding-left: 20px;
      display: grid;
      place-items: center;

      .sp-product-title {
        margin: 15px 0;
        color: coral;
      }
      .sp-product-price {
        padding-block: 15px;
      }

      .sp-add-to-card {
        a {
          display: inline-block;
          padding: 10px 20px;
          margin-bottom: 20px;
          text-decoration: none;
          background-color: coral;
          color: #fff;
          border-radius: 5px;
          &:hover {
            background-color: darkgoldenrod;
          }
        }
      }
    }
  }
}
