* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// :root {
//   --item-size: 4;
// }
$border-color: lightblue;
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  .products {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(var(--item-size), 1fr);
    grid-gap: 10px;
    &__item {
      padding: 20px;
      text-align: center;
      border: 1px solid $border-color;
      .product-title {
        color: coral;
      }
      .product-price {
        padding-block: 15px;
      }
      .product-img {
        img {
          width: 70%;
        }
      }
      .add-to-card {
        a {
          display: inline-block;
          padding: 10px 20px;
          text-decoration: none;
          background-color: coral;
          color: #fff;
          border-radius: 5px;
          &:hover {
            background-color: darkgoldenrod;
          }
        }
      }
    }
  }
}
