* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	width: 300px;
	margin: 0 auto;
	//   border: 1px solid red;
}
.card {
	border: 1px solid darkgrey;
	padding: 20px;
	text-align: center;
	position: relative;
	.itemPrice {
		margin-bottom: 15px;
		span {
			color: darkgray;
		}
	}
	.productName {
		font-weight: 800;
		padding: 7px 0;
	}
	.discount {
		color: coral;
		font-weight: 800;
	}
	.arivalDate {
		position: absolute;
		left: 85px;
		color: burlywood;
		font-weight: 700;
	}
	.colorCercle {
		.cercle {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: rgb(0, 0, 0);
			border-radius: 100%;
			&.red {
				background-color: red;
			}
			&.geen {
				background-color: green;
			}
			&.blue {
				background-color: blue;
			}
		}
	}
	.imageArea {
		img {
			width: 80%;
		}
	}
}
